<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="."><img src="/public/img/logo.png" width="50" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Главная страница</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Дополнительно</a>
                    </li>
                </ul>
                <a class="btn btn-outline-dark d-flex align-items-center gap-2" href="#">
                    <span class="material-symbols-rounded">login</span>
                    <span>Войти</span>
                </a>
            </div>
        </div>
    </nav>
</header>