<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Frogrammers | KuickHack</title>
</head>

<body>
    <main>
        <div class="intro my-5">
            <div class="container">
                <div class="intro__body">
                    <h2 class="swag__title">Система верификации удостоверения личности гражданина РК</h2>
                </div>
            </div>
        </div>
        <div class="imgput mb-5">
            <div class="container">
                <div class="imgput__body">
                    <p>Для проверки документов вы должны загрузить <span class="fst-italic fw-semibold">документ удостоверения личности <span class="text-warning">(обязательно)</span></span> и <span class="fst-italic fw-semibold">фотографию лица</span>.</p>
                    <div class="imgput__inner p-4 border rounded-3" style="width: 95%;">
                        <div class="imgput__element mb-5 hstack justify-content-between" id="imgput-element-2">
                            <div>
                                <div class="hstack gap-4">
                                    <div class="fw-bold hstack gap-2">
                                        <span class="material-symbols-rounded fs-2">demography</span>Удостоверение личности
                                        <a class="custom-warning-icon" style="margin-top: 6px;" tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="Все методы используют документ удостоверения личности. Поэтому он является обязательным! Не использовать документы с KASPI и EGOV"><span class="material-symbols-rounded text-warning">error</span></a>
                                    </div>
                                    <div>
                                        <label for="file-doc">
                                            <div class="btn btn-success" onclick="addImage(this)">Загрузить</div>
                                        </label>
                                        <input style="display: none;" type="file" class="form-control" id="file-doc" accept="image/png, image/jpeg, image/jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="hstack gap-3">
                                <div class="border-bottom hstack gap-2" style="width: 400px;">
                                    <span class="material-symbols-rounded">draft</span>
                                    <span id="file-name">Загрузите файл</span>
                                </div>
                                <div class="bg-red p-1 rounded-1" style="cursor: pointer;" onclick="deleteImage(this)">
                                    <span class="material-symbols-rounded">delete</span>
                                </div>
                            </div>
                        </div>

                        <div class="imgput__element hstack justify-content-between" id="imgput-element-1">
                            <div>
                                <div class="hstack gap-4">
                                    <div class="fw-bold hstack gap-2">
                                        <span class="material-symbols-rounded fs-2">person_book</span>Фотография вашего лица</div>
                                    <div>
                                        <label for="file-img">
                                            <div class="btn btn-success" onclick="addImage(this)">Загрузить</div>
                                        </label>
                                        <input style="display: none;" type="file" class="form-control" id="file-img" accept="image/png, image/jpeg, image/jpg" />
                                    </div>
                                </div>
                            </div>
                            <div class="hstack gap-3">
                                <div class="border-bottom hstack gap-2" style="width: 400px;">
                                    <span class="material-symbols-rounded">draft</span>
                                    <span id="file-name">Загрузите файл</span>
                                </div>
                                <div class="bg-red p-1 rounded-1" style="cursor: pointer;" onclick="deleteImage(this)">
                                    <span class="material-symbols-rounded">delete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swag mb-5">
            <div class="container">
                <div class="swag__header">
                    <p>Далее вы можете выбрать нужный метод обработки ваших фотографии:</p>
                    <p class="fst-italic" style="color: #ffffff87;">* Если метод не выбирается, то значит вы не загрузили нужный файл. Прошу следите за этим</p>
                </div>
                <div class="swag__body">
                    <div class="swag__inner">
                        <div class="swag__element d-flex gap-4 mb-5" id="swag-bio">
                            <div class="swag__element__block w-100 rounded-3 p-3">
                                <div class="swag__element__inner d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center gap-4">
                                        <div class="swag__element__shortTitle d-flex justify-content-center align-items-center rounded-1">
                                            <span class="fs-3 fw-semibold font-monospace">BIO</span>
                                        </div>
                                        <div class="swag__element__title fw-medium">Biometric check-up</div>
                                        <div class="swag__element__description fw-light fst-italic">Проверка соответствию с лицом владельца</div>
                                    </div>
                                    <div class="inner-right hstack gap-4">
                                        <span class="material-symbols-rounded text-warning">person_book</span>
                                        <span class="material-symbols-rounded text-warning">demography</span>
                                        <span class="material-symbols-rounded text-info">check_box</span>
                                        <a href="#swag-collapse1" data-bs-toggle="collapse" id="swag-arrow1" class="material-symbols-rounded text-decoration-none text-light" aria-expanded="false" aria-controls="swag-collapse1">keyboard_arrow_left</a>
                                    </div>
                                </div>
                                <div id="swag-collapse1" class="collapse swag__element__collapse">
                                    <div class="pt-5">
                                        <p><span class="fw-bold fs-5" style="color: var(--swag-green);">Bio check-up</span> - способ подтверждения права собственности при помощи проверки лица. Является надежным способом дополнительной проверки и в совокупности с другими типами проверки послужит отличным инструментом усиления безопасности системы. Использует модели стороннего весьма популярного API - faceapi.</p>
                                    </div>
                                    <img class="mb-4"  src="/public/img/swag-img/bio1.png" alt="" width="800">
                                    <ul>
                                        <li class="text-uppercase fw-semibold mb-3">faceLandmark68Net.</li>
                                        <p><span class="text-frog">99.38% точности на бенчмарке LFW (Labeled Faces in the Wild)</span></p>
                                        <li class="text-uppercase fw-semibold mb-3">faceRecognitionNet.</li>
                                        <p><span class="text-frog">Размер квантованной модели около 5,4 МБ (модель ssd_mobilenetv1).</span></p>
                                        <li class="text-uppercase fw-semibold mb-3">ssdMobilenetv1.</li>
                                        <p><span class="text-frog">Этот пакет реализует очень легкий и быстрый, но точный детектор 68 точек лиц.</span></p>
                                    </ul>
                                    
                                </div>
                            </div>
                            <div class="swag__checker">
                                <div class="form-check form-switch">
                                    <input class="custom-checkbox form-check-input" type="checkbox" role="switch" id="swag-checkbox-1"
                                        style="transform: scale(1.8);">
                                </div>
                            </div>
                        </div>
                        <div class="swag__element d-flex gap-4 mb-5" id="swag-doc">
                            <div class="swag__element__block w-100 rounded-3 p-3">
                                <div class="swag__element__inner d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center gap-4">
                                        <div
                                            class="swag__element__shortTitle d-flex justify-content-center align-items-center rounded-1">
                                            <span class="fs-3 fw-semibold font-monospace">DOC</span>
                                        </div>
                                        <div class="swag__element__title fw-medium">Detect document forgery</div>
                                        <div class="swag__element__description fw-light fst-italic">Проверка подлинности
                                            удостоверения личности</div>
                                    </div>
                                    <div class="inner-right hstack gap-4">
                                        <span class="material-symbols-rounded text-warning">demography</span>
                                        <span class="material-symbols-rounded text-info">check_box</span>
                                        <a href="#swag-collapse3" data-bs-toggle="collapse" id="swag-arrow1"
                                            class="material-symbols-rounded text-decoration-none text-light"
                                            aria-expanded="false" aria-controls="swag-collapse3">keyboard_arrow_left</a>
                                    </div>
                                </div>
                                <div id="swag-collapse3" class="collapse swag__element__collapse">
                                    <div class="pt-5">
                                        <span class="fw-bold fs-5" style="color: var(--swag-orange);">Detect document forgery</span> - комплексный способ выявления такого вида подделки документов как склеивание или наложение фотографий друг на друга. Модель была тренирована на датасете, учась определять места наличия невидимого шума. В качестве выходного продукта проверки вам представится картинка с видимым следом изменений редактирования.
                                    </div>
                                    <div class="d-flex mt-3 mb-4">
                                        <img src="/public/img/swag-img/n1.png" alt="" width="600">
                                        <img src="/public/img/swag-img/n2.png" alt="" width="400">
                                    </div>
                                    <div class="mb-4">Точность: <span class="text-frog">AUC (Area Under the Curve) - 0.833</span></div>
                                    <div>Автор: <a href="https://replicate.com/highwaywu/image-forgery-detection/api/learn-more#commonjs" class="text-frog">highwaywu</a></div>
                                </div>
                            </div>
                            <div class="swag__checker">
                                <div class="form-check form-switch">
                                    <input class="custom-checkbox form-check-input" type="checkbox" role="switch" id="swag-checkbox-2"
                                        style="transform: scale(1.8);">
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="swag__element d-flex gap-4 mb-5" id="swag-data">
                            <div class="swag__element__block w-100 rounded-3 p-3">
                                <div class="swag__element__inner d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center gap-4">
                                        <div
                                            class="swag__element__shortTitle d-flex justify-content-center align-items-center rounded-1">
                                            <span class="fs-3 fw-semibold font-monospace">DATA</span>
                                        </div>
                                        <div class="swag__element__title fw-medium">Data consistency</div>
                                        <div class="swag__element__description fw-light fst-italic">OCR для извлечения
                                            текстовых данных документа</div>
                                    </div>
                                    <div class="inner-right hstack gap-4">
                                        <span class="material-symbols-rounded text-warning">demography</span>
                                        <span class="material-symbols-rounded text-info">check_box</span>
                                        <a href="#swag-collapse4" data-bs-toggle="collapse" id="swag-arrow1"
                                            class="material-symbols-rounded text-decoration-none text-light"
                                            aria-expanded="false" aria-controls="swag-collapse4">keyboard_arrow_left</a>
                                    </div>
                                </div>
                                <div id="swag-collapse4" class="collapse swag__element__collapse">
                                    <div class="pt-5 mb-4">
                                        <span class="fw-bold fs-5" style="color: var(--swag-violet);">Data consistency</span>  - надежный тип проверки, при наличии базы данных пользователей. Проверка целостности информации позволяет быстро оценить соответствие полей предоставленного документа с настоящей информацией из базы данных. 
                                    </div>
                                    <div class="text-center mb-4">
                                        <img src="/public/img/swag-img/t1.png" alt="" width="1000">
                                    </div>
                                    <h5 class="fw-semibold">Tesseract-ocr engine</h5>
                                    <p>В Tesseract 4 добавлен новый распознавательный движок на основе нейронной сети <span class="text-frog">(LSTM)</span>, который ориентирован на распознавание строк, но также по-прежнему поддерживает устаревший распознавательный движок Tesseract из Tesseract 3, который распознает шаблоны символов. Совместимость с Tesseract 3 обеспечивается с помощью устаревшей модели <span class="text-frog">OCR-движка</span> (--oem 0). </p>
                                    <div>

                                    </div>
                                </div>
                            </div>
                            <div class="swag__checker">
                                <div class="form-check form-switch">
                                    <input class="custom-checkbox form-check-input" type="checkbox" role="switch" id="swag-checkbox-3"
                                        style="transform: scale(1.8);">
                                </div>
                            </div>
                        </div>
                        <div class="swag__element d-flex gap-4 mb-5" id="swag-face">
                            <div class="swag__element__block w-100 rounded-3 p-3">
                                <div class="swag__element__inner d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center gap-4">
                                        <div
                                            class="swag__element__shortTitle d-flex justify-content-center align-items-center rounded-1">
                                            <span class="fs-3 fw-semibold font-monospace">BAR</span>
                                        </div>
                                        <div class="swag__element__title fw-medium">Barcode decoding</div>
                                        <div class="swag__element__description fw-light fst-italic">Сравнение штрих-кода с ИИН</div>
                                    </div>
                                    <div class="inner-right hstack gap-4">
                                        <span class="material-symbols-rounded text-warning">demography</span>
                                        <span class="material-symbols-rounded text-info">check_box</span>
                                        <a href="#swag-collapse2" data-bs-toggle="collapse" id="swag-arrow1" class="material-symbols-rounded text-decoration-none text-light" aria-expanded="false" aria-controls="swag-collapse2">keyboard_arrow_left</a>
                                    </div>
                                </div>
                                <div id="swag-collapse2" class="collapse swag__element__collapse">
                                    <div class="pt-5">
                                        <span class="fw-bold fs-5" style="color: var(--swag-pink);">Barcode decoding</span> - метод, при котором используется расшифровка штрих-кода на документе, а затем сравнивается с ИИН пользователя. Необходимый уровень проверки, при наличии фотографии хорошего качества.
                                    </div>
                                    <div class="mt-4"><span class="text-frog">QuaggaJS library</span> содержит методы локализации штрих-кодов их дешифровки.</div>
                                    <div class="d-flex mt-4">
                                        <img src="/public/img/swag-img/s1.png" alt="" style="width: 100%;">
                                        <img src="/public/img/swag-img/s2.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swag__checker">
                                <div class="form-check form-switch">
                                    <input class="custom-checkbox form-check-input" type="checkbox" role="switch" id="swag-checkbox-4"
                                        style="transform: scale(1.8);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="submit my-5">
            <div class="container">
                <div class="submit__header mb-4">
                    <h5>Выбранные методы:</h5>
                </div>
                <div class="submit__body" style="width: 95%;">
                    <div id="submit-checked" class="submit__checked mb-5"> </div>
                   
                    <div class="text-end">
                        <button class="btn btn-success" id="submit-btn" onclick="submitMethods()">Проверить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="result mb-5" style="display: none;" id="result">
            <div class="container">
                <div class="result__header mb-4">
                    <h5>Результат:</h5>
                </div>
                <div class="result__body bg-dark p-4" style="width: 95%;">
                    <div class="result__inner" id="result-inner">
                    
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="/public/js/ocr.js"></script>
    <script src="/public/js/barcode.js"></script>
    <script src="/public/js/faceMatchDetection.js"></script>
    <script src="/public/js/imageManipulationDetector.js"></script>
    <script src="/public/vendor/axios/axios.min.js"></script>
    <script src="/public/vendor/faceapi/face-api.js"></script>
    <script src="/public/js/opencv.js" type="text/javascript"></script>
    <script src='https://cdn.jsdelivr.net/npm/tesseract.js@5/dist/tesseract.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/@ericblade/quagga2/dist/quagga.js"></script>



    <script>
        var checkedItemsId = [];
        var uncheckedItemsId = [];

        var checkedItemsText = [];
        var uncheckedItemsText = [];

        // Bootstrap Popover
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));


        $(() => {
            placeImg();
            swagCollapse();

            checkImages();

            // Initial detailed status update
            updateDetailedStatus();

            // Event handler for checkbox change
            $('.form-check-input').change(function () {
                updateDetailedStatus();
            });

            // Add change event listener to file inputs to trigger the checkImages function
            $('#file-img, #file-doc').on('change', checkImages);
        })  

        async function submitMethods() {
            $("#result").show();
            displayResult();
            if ($("#checked-element-swag-bio").length > 0) {
                // Biometric check-up method
                const fieldSelector = '#result-swag-bio';
                const spinnerSelector = $("#spinner-swag-bio");

                spinnerSelector.show();
                const promise = new Promise((resolve, reject) => {
                    setTimeout(() => {
                        const faceMatchDetectionResult = faceMatchDetection(getImgId('img'), getImgId('doc'));
                        resolve(faceMatchDetectionResult);
                    }, 2000);
                });

                promise.then(faceMatchDetectionResult => {
                    spinnerSelector.hide();
                    displayDataResult(fieldSelector, 'Лицо с фотографии соответствует лицу владельца на', ((1 - faceMatchDetectionResult.data) * 100));
                    if (faceMatchDetectionResult.status == 'success') {
                        displaySuccessResult(fieldSelector, 'Фотография соответствует фото из УД');
                    } else {
                        if (faceMatchDetectionResult.errorType == 'no-face') {
                            displayErrorResult(fieldSelector, 'На одном или обоих изображениях лица не обнаружены');
                        } else if (faceMatchDetectionResult.errorType == 'no-dist') {
                            displayErrorResult(fieldSelector, 'Фотография не соответствует фото из УД');
                        }
                    }
                });
            }

            if ($("#checked-element-swag-doc").length > 0) {
                // Fake document detection (detect splicing)
                const fieldSelector = '#result-swag-doc';
                const spinnerSelector = $('#spinner-swag-doc');

                spinnerSelector.show();
                const promise = new Promise((resolve, reject) => {
                    setTimeout(() => {
                        const responce = postDocForForgery(getImgInput('doc'));
                        console.log(responce);
                        resolve(responce);
                    }, 2000);
                });

                promise
                    .then(res => {
                        $.ambiance({
                            message: "Detect document forgery is done",
                            type: "success"
                        })
                        spinnerSelector.hide();
                        displayDataResult(fieldSelector, 'Обработанное изображение', res.uri);
                        displayButtonResult(fieldSelector, 'Нажмите для проверки подлинности фото', 'analyzeForge()')
                        const path = `/public/img/image-forgery-detection/output/${res.filename}`;
                        localStorage.setItem('forgePath', path);
                    })
                    .catch(err => {
                        $.ambiance({
                            message: "Error fetching",
                            type: "error"
                        })
                        displayErrorResult(fieldSelector, 'Связь с Replicate не установлен')
                    })
            }

            if ($("#checked-element-swag-data").length > 0) {
                // Data consistency
                const fieldSelector = '#result-swag-data';
                const spinnerSelector = $('#spinner-swag-data');

                spinnerSelector.show();
                const promise = new Promise((resolve, reject) => {
                    setTimeout(() => {
                        const recognizeImageResult = recognizeImage(getImgId('doc'), true);
                        resolve(recognizeImageResult);
                    }, 2000);
                });

                promise.then(recognizeImageResult => {
                    spinnerSelector.hide();
                    console.log(recognizeImageResult);
                    if (recognizeImageResult.status === 'success') {
                        displayDataResult(fieldSelector, 'Извлеченный ИИН', recognizeImageResult.data);
                        getUserInfo(recognizeImageResult.data)
                            .then(info => {
                                const infoHTML = `<div class="result__info">
                                    <table class="table table-striped w-50">
                                        <tbody>
                                        <tr>
                                            <th scope="row">Имя</th>
                                            <td>${info.firstName}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Фамилия</th>
                                            <td>${info.lastName}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Отчество</th>
                                            <td>${info.surName}</td>
                                        </tr>
                                            <th scope="row">Дата рождения</th>
                                            <td>${info.birthDate}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Даты выдачи</th>
                                            <td>${info.createdAt}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Срок действия</th>
                                            <td>${info.endsAt}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>`

                                $(fieldSelector).find("#result-info").append(infoHTML);

                                displaySuccessResult(fieldSelector, 'ИИН был найден в базе данных');
                            })
                            .catch(err => {
                                console.log(err)
                                displayErrorResult(fieldSelector, 'ИИН не найден в базе данных. Подозревается фальсификация документа')
                            });
                    } else {
                        if (recognizeImageResult.errorType == 'expired'){
                            displayErrorResult(fieldSelector, 'Документ просрочен')
                        } else if (recognizeImageResult.errorType == 'no-date') {
                            displayErrorResult(fieldSelector, 'Не удалось распознать даты')
                        } else if (recognizeImageResult.errorType == 'no-uin') {
                            displayErrorResult(fieldSelector, 'Не удалось распознать ИИН')
                        } else if (recognizeImageResult.errorType == 'no-text') {
                            displayErrorResult(fieldSelector, 'Не удалось распознать текст')
                        }
                    }
                }).catch(error => {
                    console.error('Promise Error:', error);
                });
            }

            if ($("#checked-element-swag-face").length > 0) {
                // Barcode
                const fieldSelector = '#result-swag-face';
                const spinnerSelector = $('#spinner-swag-face');

                spinnerSelector.show();
                const promise = new Promise((resolve, reject) => {
                    setTimeout(() => {
                        const responce = compareCodes(getImgId('doc'));
                        console.log(responce);
                        resolve(responce);
                    }, 2000);
                });

                promise.then(responce => {
                    console.log(responce)
                    $.ambiance({
                        message: "Compare barcode with uin is done!",
                        type: "success"
                    })
                    spinnerSelector.hide();
                    if (responce.status == 'success') {
                        displayDataResult(fieldSelector, 'Расшифровка выявленного баркода', responce.barcode);
                        displayDataResult(fieldSelector, 'Выявленный из документа ИИН', responce.code);
                        displaySuccessResult(fieldSelector, 'Баркод и ИИН совпадают')
                    } else {
                        if (responce.errorType == 'no-uin') {
                            displayErrorResult(fieldSelector, 'Не удалось распознать ИИН')
                        } else if (responce.errorType == 'no-text') {
                            displayErrorResult(fieldSelector, 'Не удалось распознать текст')
                        } else if (responce.errorType == 'no-bar') {
                            displayErrorResult(fieldSelector, 'Не удалось расшифровать баркод')
                        } else if (responce.errorType == 'no-match') {
                            displayErrorResult(fieldSelector, 'Баркод и ИИН не совпадают')
                        }
                    }
                })
            } 
        }

        function analyzeForge() {
            const fieldSelector = '#result-swag-doc';
            const img = new Image();
            img.onload = function () {
                const canvas = document.createElement('canvas');
                canvas.width = img.width;
                canvas.height = img.height;
                const ctx = canvas.getContext('2d');
                ctx.drawImage(img, 0, 0, img.width, img.height);
                const imageData = ctx.getImageData(0, 0, img.width, img.height);
                const clusters = detectLightClusters(imageData, 0.475, 0.000025);
                let clusterFlag = false;
                clusters.forEach((cluster, i) => {
                    console.log(`Cluster ${i}: ${cluster.areaPercentage}`)
                    if (cluster.areaPercentage > 1) {
                        displayDataResult(fieldSelector, 'Светимость кластера по выборке', cluster.areaPercentage);
                        displayErrorResult(fieldSelector, 'Фотография обработанна');
                        clusterFlag = true;
                        return;
                    }
                });
                if (!clusterFlag) {
                    displaySuccessResult(fieldSelector, 'Фотография не обработанна. Светимость кластера по выборке довольно маленькая')
                }
            };
            img.src = localStorage.getItem('forgePath');
        }

        function getUserInfo(uin) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: "/api/compare",
                    method: 'post',
                    data: {
                        iin: uin
                    },
                    success: function (res) {
                        resolve(res);
                    },
                    error: function (err) {
                        reject(err);
                    }
                });
            });
        }

        function postDocForForgery(file) {
            return new Promise((resolve, reject) => {
                const formData = new FormData();
                formData.append('file', file);
                $.ajax({
                    url: '/api/check/forgery',
                    method: "post",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        resolve(res);
                    }, error: function (err) {
                        reject(err);
                    }
                })
            })
        }

        function displayDataResult(fieldSelector, specDataMessage, specData) {
            const $fieldSelector = $(fieldSelector);
            const specDataSelector = $fieldSelector.find('.result__element__specData');
            const specDataString = specData.toString(); // Convert specData to string

            if (specDataString.startsWith('https')) {
                specDataSelector.append(`${specDataMessage}: <a class="text-frog-eye mb-4" href=${specDataString}>${specDataString}</a>.<br/>`);
            } else {
                specDataSelector.append(`${specDataMessage}: <span class="text-frog-eye mb-2">${specDataString}</span>.<br/>`);
            }
        }

        function displaySuccessResult(fieldSelector, successMessage) {
            const $fieldSelector = $(fieldSelector);
            const statusSelector = $fieldSelector.find('.result__element__status');
            $fieldSelector.find('#result-success').show();
            statusSelector.html(`Вывод: <span class="text-frog">${successMessage}!</span>`);
        }

        function displayButtonResult(fieldSelector, buttonText, onClickFunction) {
            const $fieldSelector = $(fieldSelector);
            const infoSelector = $fieldSelector.find('#result-info');
            infoSelector.append(`<button type="button" class="btn btn-success" onclick=${onClickFunction}>${buttonText}</button>`);
        }
        
        function displayErrorResult(fieldSelector, errorMessage) {
            const $fieldSelector = $(fieldSelector);
            $fieldSelector.find('#result-error').show();
            const statusSelector = $fieldSelector.find('.result__element__status');
            statusSelector.html(`Вывод: <span class="text-danger">${errorMessage}!</span>`);
        }

        function checkImages() {
            if (getImgInput('img') && getImgInput('doc')) {
                $('#swag-checkbox-1').prop('disabled', false);
            } else {
                $('#swag-checkbox-1').prop('disabled', true);
                $('#swag-checkbox-1').prop('checked', false); 
            }

            if (getImgInput('doc')) {
                $('#swag-checkbox-2, #swag-checkbox-3, #swag-checkbox-4').prop('disabled', false);
            } else {
                $('#swag-checkbox-2, #swag-checkbox-3, #swag-checkbox-4').prop('disabled', true);
                $('#swag-checkbox-2, #swag-checkbox-3, #swag-checkbox-4').prop('checked', false);
            }
        }

        function swagCollapse() {
            $('.swag__element__inner .inner-right a').click(function () {
                if ($(this).hasClass('collapsed')) {
                    $(this).removeClass('collapsed');
                } else {
                    $(this).addClass('collapsed');
                }
            })
        }

        function displayResult() {
            $("#result-inner").html('');
            let resultHTML = '';
            for (let i = 0; i < checkedItemsId.length; i++) {
                resultHTML += `<div class="result__element" id="result-${checkedItemsId[i]}">
                            <div class="result__element__title fw-semibold fs-5 border rounded-3 p-3 d-inline-block">${checkedItemsText[i]}</div>
                            <div class="result__element__block mt-4">
                                <div class="flex">
                                    <p class="result__element__specData"> </p>
                                    <p class="result__element__status mt-4"> </p>
                                </div>
                                <div id="result-info"> </div>
                                
                                <span id="result-success" class="result-true material-symbols-rounded text-success fs-2 fs-bold" style="display: none;">check_circle</span>
                                <span id="result-error" class="result-false material-symbols-rounded text-danger fs-2 fs-bold" style="display: none;">cancel</span>
                            </div>
                            <hr/>
                        </div>`
            }
            $("#result-inner").append(resultHTML);
        }
        
        function displaySubmitChecked() {
            $('#submit-checked').html('');
            let submitHTML = '';
            if (checkedItemsId.length == 0) {
                submitHTML = `<div class="submit__empty p-3">
                        <div class="hstack gap-3 mb-3">
                            <span class="material-symbols-rounded fs-2">web_asset_off</span>
                            <div class="fs-5" style="color: #ffffff68">Пусто</div>
                        </div>
                        <p>Если вы не выбрали метод верификации, сайт не сможет выполнить проверку вашего удостоверения личности. Пожалуйста, выберите один из предложенных методов сверху для продолжения процесса верификации.</p>
                    </div>`
                $('#submit-btn').toggleClass('disabled', true);
            } else {
                for (let i = 0; i < checkedItemsId.length; i++) {
                    submitHTML += `<div class="checked__element d-flex justify-content-between align-items-end mb-4" id="checked-element-${checkedItemsId[i]}">
                            <div class="checked__title fw-semibold">${checkedItemsText[i]}</div>
                            <div class="spinner-grow" role="status" id="spinner-${checkedItemsId[i]}" style="display:none">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>`
                }
                $('#submit-btn').toggleClass('disabled', false);
            }
            $('#submit-checked').append(submitHTML);
        }

        function updateDetailedStatus() {
            checkedItemsId = [];
            uncheckedItemsId = [];
            checkedItemsText = [];
            uncheckedItemsText = [];
            
            $('.swag__element').each(function (index) {
                var $swagElement = $(this);
                var $swagTitle = $(this).find('.swag__element__title');
                var $checkbox = $swagElement.find('.form-check-input');
                
                var itemStatus = $checkbox.prop('checked') ? 'checked' : 'unchecked';
                
                if (itemStatus === 'checked') {
                    checkedItemsText.push($swagTitle.text());
                    checkedItemsId.push($swagElement.prop('id'));
                } else {
                    uncheckedItemsText.push($swagTitle.text());
                    uncheckedItemsId.push($swagElement.prop('id'));
                }
            });
            displaySubmitChecked();
            displayResult();
            $("#result").hide();
        }

        function addImage(fieldSelector) {
            const imgputElement = $(fieldSelector).closest('.imgput__element');
            const fileInput = imgputElement.find('input[type="file"]');
            const fileNameSpan = imgputElement.find('#file-name');

            fileInput.on('change', function() {
                $('.form-valid').remove();
                fileNameSpan.text(this.files[0].name)
                if (imgputElement.prop('id') == 'imgput-element-1') {
                    localStorage.setItem('faceName', this.files[0].name);
                } else {
                    localStorage.setItem('docName', this.files[0].name);
                }
            })
        }

        function deleteImage(fieldSelector) {
            const imgputElement = $(fieldSelector).closest('.imgput__element');
            const fileInput = imgputElement.find('input[type="file"]');
            const fileNameSpan = imgputElement.find('#file-name');

            if (imgputElement.prop('id') == 'imgput-element-1') {
                localStorage.removeItem('faceName');
            } else {
                localStorage.removeItem('docName');
            }

            fileNameSpan.text('Загрузите файл');
            fileInput.val('');

            checkImages();
            updateDetailedStatus();
        }

        function placeImg() {
            const imgputElement = $('.imgput__element');
            

            imgputElement.each(function(index, element) {
                const $element = $(element);

                const fileInput = $element.find('input[type="file"]');
                const fileNameSpan = $element.find('#file-name');

                const elementId = $element.attr('id');

                if (elementId === 'imgput-element-1') {
                    if (localStorage.getItem('faceName') !== null) {
                        fileNameSpan.text(localStorage.getItem('faceName'));
                    } else {
                        fileNameSpan.text('Загрузите файл');
                    }
                } else {
                    if (localStorage.getItem('docName') !== null) {
                        fileNameSpan.text(localStorage.getItem('docName'));
                    } else {
                        fileNameSpan.text('Загрузите файл');
                    }
                }
                
                fileInput.on('change', function() {
                    if (elementId === 'imgput-element-1') {
                        fileNameSpan.text(localStorage.getItem('faceName'));
                    } else {
                        fileNameSpan.text(localStorage.getItem('docName'));
                    }
                });
            });
        }

        function getImgInput(fieldSelector) {
            if (fieldSelector == 'img') {
                return $('#file-img')[0].files[0];
            } else if (fieldSelector == 'doc') {
                return $('#file-doc')[0].files[0];
            }
        }

        function getImgId(fieldSelector) {
            if (fieldSelector == 'img') {
                return $('#file-img').attr('id');
            } else if (fieldSelector == 'doc') {
                return $('#file-doc').attr('id');
            }
        }

        function handleImageUpload(fileInputId) {
            return new Promise((resolve, reject) => {
                const fileInput = document.getElementById(fileInputId);
                const file = fileInput.files[0];
                const img = new Image();

                img.onload = () => resolve(img);
                img.onerror = reject;
                img.src = URL.createObjectURL(file);
            });
        }
    </script>
</body>

</html>