<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/css/style.css">

    <title>Frogrammers | KuickHack</title>
</head>

<body>
    <main>
        <div class="intro my-5">
            <div class="container">
                <div class="intro__body">
                    <h2 class="swag__title">Система верификации удостоверения личности гражданина РК</h2>
                </div>
            </div>
        </div>
        <div class="imgput mb-5">
            <div class="container">
                <div class="imgput__body">
                    <p>Для проверки документов вы должны загрузить <span class="fst-italic fw-semibold">документ удостоверения личности <span class="text-warning">(обязательно)</span></span> и <span class="fst-italic fw-semibold">фотографию лица</span>.</p>
                    <div class="imgput__inner p-4 border rounded-3" style="width: 95%;">
                        <div class="imgput__element mb-5 hstack justify-content-between" id="imgput-element-2">
                            <div>
                                <div class="hstack gap-4">
                                    <div class="fw-bold hstack gap-2">
                                        <span class="material-symbols-rounded fs-2">demography</span>Удостоверение личности
                                        <a class="custom-warning-icon" style="margin-top: 6px;" tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="Все методы используют документ удостоверения личности. Поэтому он является обязательным!"><span class="material-symbols-rounded text-warning">error</span></a>
                                    </div>
                                    <div>
                                        <label for="file-img-2">
                                            <div class="btn btn-success" onclick="addImage(this)">Загрузить</div>
                                        </label>
                                        <input style="display: none;" type="file" class="form-control" id="file-img-2" accept="image/png, image/jpeg, image/jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="hstack gap-3">
                                <div class="border-bottom hstack gap-2" style="width: 400px;">
                                    <span class="material-symbols-rounded">draft</span>
                                    <span id="file-name">Загрузите файл</span>
                                </div>
                                <div class="bg-red p-1 rounded-1" style="cursor: pointer;" onclick="deleteImage(this)">
                                    <span class="material-symbols-rounded">delete</span>
                                </div>
                            </div>
                        </div>

                        <div class="imgput__element hstack justify-content-between" id="imgput-element-1">
                            <div>
                                <div class="hstack gap-4">
                                    <div class="fw-bold hstack gap-2">
                                        <span class="material-symbols-rounded fs-2">person_book</span>Фотография вашего лица</div>
                                    <div>
                                        <label for="file-img-1">
                                            <div class="btn btn-success" onclick="addImage(this)">Загрузить</div>
                                        </label>
                                        <input style="display: none;" type="file" class="form-control" id="file-img-1" accept="image/png, image/jpeg, image/jpg" />
                                    </div>
                                </div>
                            </div>
                            <div class="hstack gap-3">
                                <div class="border-bottom hstack gap-2" style="width: 400px;">
                                    <span class="material-symbols-rounded">draft</span>
                                    <span id="file-name">Загрузите файл</span>
                                </div>
                                <div class="bg-red p-1 rounded-1" style="cursor: pointer;" onclick="deleteImage(this)">
                                    <span class="material-symbols-rounded">delete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swag mb-5">
            <div class="container">
                <div class="swag__header">
                    <p>Далее вы можете выбрать нужный метод обработки ваших фотографии:</p>
                    <p class="fst-italic" style="color: #ffffff87;">* Если метод не выбирается, то значит вы не загрузили нужный файл. Прошу следите за этим</p>
                </div>
                <div class="swag__body">
                    <div class="swag__inner">
                        <div class="swag__element d-flex gap-4 mb-5" id="swag-bio">
                            <div class="swag__element__block w-100 rounded-3 p-3">
                                <div class="swag__element__inner d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center gap-4">
                                        <div class="swag__element__shortTitle d-flex justify-content-center align-items-center rounded-1">
                                            <span class="fs-3 fw-semibold font-monospace">BIO</span>
                                        </div>
                                        <div class="swag__element__title fw-medium">Biometric check-up</div>
                                        <div class="swag__element__description fw-light fst-italic">Проверка соответствию с лицом владельца</div>
                                    </div>
                                    <div class="inner-right hstack gap-4">
                                        <span class="material-symbols-rounded text-warning">person_book</span>
                                        <span class="material-symbols-rounded text-warning">demography</span>
                                        <span class="material-symbols-rounded text-info">check_box</span>
                                        <a href="#swag-collapse1" data-bs-toggle="collapse" id="swag-arrow1" class="material-symbols-rounded text-decoration-none text-light" aria-expanded="false" aria-controls="swag-collapse1">keyboard_arrow_left</a>
                                    </div>
                                </div>
                                <!-- <div id="progress" class="progress mt-3" role="progressbar" aria-label="Danger striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-striped" style="width: 100%"></div>
                                </div> -->
                                <div id="swag-collapse1" class="collapse swag__element__collapse">
                                    <div class="pt-5">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores debitis aliquam quod architecto. At excepturi placeat amet sit minus dicta soluta, provident deserunt molestias perferendis molestiae earum corporis beatae quasi.
                                    </div>
                                </div>
                            </div>
                            <div class="swag__checker">
                                <div class="form-check form-switch">
                                    <input class="custom-checkbox form-check-input" type="checkbox" role="switch" id="swag-checkbox-1"
                                        style="transform: scale(1.8);">
                                </div>
                            </div>
                        </div>
                        <div class="swag__element d-flex gap-4 mb-5" id="swag-face">
                            <div class="swag__element__block w-100 rounded-3 p-3">
                                <div class="swag__element__inner d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center gap-4">
                                        <div
                                            class="swag__element__shortTitle d-flex justify-content-center align-items-center rounded-1">
                                            <span class="fs-3 fw-semibold font-monospace">FACE</span>
                                        </div>
                                        <div class="swag__element__title fw-medium">Fake face photo detection</div>
                                        <div class="swag__element__description fw-light fst-italic">Проверка фотографии лица
                                            на подлинность</div>
                                    </div>
                                    <div class="inner-right hstack gap-4">
                                        <span class="material-symbols-rounded text-warning">demography</span>
                                        <span class="material-symbols-rounded text-info">check_box</span>
                                        <a href="#swag-collapse2" data-bs-toggle="collapse" id="swag-arrow1" class="material-symbols-rounded text-decoration-none text-light" aria-expanded="false" aria-controls="swag-collapse2">keyboard_arrow_left</a>
                                    </div>
                                </div>
                                <!-- <div id="progress" class="progress mt-3" role="progressbar"
                                    aria-label="Danger striped example" aria-valuenow="100" aria-valuemin="0"
                                    aria-valuemax="100">
                                    <div class="progress-bar progress-bar-striped" style="width: 50%"></div>
                                </div> -->
                                <div id="swag-collapse2" class="collapse swag__element__collapse">
                                    <div class="pt-5">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores debitis aliquam
                                        quod architecto. At excepturi placeat amet sit minus dicta soluta, provident
                                        deserunt molestias perferendis molestiae earum corporis beatae quasi.
                                    </div>
                                </div>
                            </div>
                            <div class="swag__checker">
                                <div class="form-check form-switch">
                                    <input class="custom-checkbox form-check-input" type="checkbox" role="switch" id="swag-checkbox-2"
                                        style="transform: scale(1.8);">
                                </div>
                            </div>
                        </div>
                        <div class="swag__element d-flex gap-4 mb-5" id="swag-doc">
                            <div class="swag__element__block w-100 rounded-3 p-3">
                                <div class="swag__element__inner d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center gap-4">
                                        <div
                                            class="swag__element__shortTitle d-flex justify-content-center align-items-center rounded-1">
                                            <span class="fs-3 fw-semibold font-monospace">DOC</span>
                                        </div>
                                        <div class="swag__element__title fw-medium">Fake document detection</div>
                                        <div class="swag__element__description fw-light fst-italic">Проверка подлинности
                                            удостоверения личности</div>
                                    </div>
                                    <div class="inner-right hstack gap-4">
                                        <span class="material-symbols-rounded text-warning">demography</span>
                                        <span class="material-symbols-rounded text-danger">indeterminate_check_box</span>
                                        <a href="#swag-collapse3" data-bs-toggle="collapse" id="swag-arrow1"
                                            class="material-symbols-rounded text-decoration-none text-light"
                                            aria-expanded="false" aria-controls="swag-collapse3">keyboard_arrow_left</a>
                                    </div>
                                </div>
                                <!-- <div id="progress1" class="progress mt-3" role="progressbar"
                                    aria-label="Danger striped example" aria-valuenow="100" aria-valuemin="0"
                                    aria-valuemax="100">
                                    <div class="progress-bar progress-bar-striped" style="width: 0"></div>
                                </div> -->
                                <div id="swag-collapse3" class="collapse swag__element__collapse">
                                    <div class="pt-5">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores debitis aliquam
                                        quod architecto. At excepturi placeat amet sit minus dicta soluta, provident
                                        deserunt molestias perferendis molestiae earum corporis beatae quasi.
                                    </div>
                                </div>
                            </div>
                            <div class="swag__checker">
                                <div class="form-check form-switch">
                                    <input class="custom-disabled-checkbox form-check-input" type="checkbox" role="switch" id="swag-checkbox-3"
                                        style="transform: scale(1.8);" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="swag__element d-flex gap-4 mb-5" id="swag-data">
                            <div class="swag__element__block w-100 rounded-3 p-3">
                                <div class="swag__element__inner d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center gap-4">
                                        <div
                                            class="swag__element__shortTitle d-flex justify-content-center align-items-center rounded-1">
                                            <span class="fs-3 fw-semibold font-monospace">DATA</span>
                                        </div>
                                        <div class="swag__element__title fw-medium">Data consistency</div>
                                        <div class="swag__element__description fw-light fst-italic">OCR для извлечения
                                            текстовых данных документа</div>
                                    </div>
                                    <div class="inner-right hstack gap-4">
                                        <span class="material-symbols-rounded text-warning">demography</span>
                                        <span class="material-symbols-rounded text-danger">indeterminate_check_box</span>
                                        <a href="#swag-collapse4" data-bs-toggle="collapse" id="swag-arrow1"
                                            class="material-symbols-rounded text-decoration-none text-light"
                                            aria-expanded="false" aria-controls="swag-collapse4">keyboard_arrow_left</a>
                                    </div>
                                </div>
                                <!-- <div id="progress1" class="progress mt-3" role="progressbar"
                                    aria-label="Danger striped example" aria-valuenow="100" aria-valuemin="0"
                                    aria-valuemax="100">
                                    <div class="progress-bar progress-bar-striped" style="width: 0%"></div>
                                </div> -->
                                <div id="swag-collapse4" class="collapse swag__element__collapse">
                                    <div class="pt-5">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores debitis aliquam
                                        quod architecto. At excepturi placeat amet sit minus dicta soluta, provident
                                        deserunt molestias perferendis molestiae earum corporis beatae quasi.
                                    </div>
                                </div>
                            </div>
                            <div class="swag__checker">
                                <div class="form-check form-switch">
                                    <input class="custom-disabled-checkbox form-check-input" type="checkbox" role="switch" id="swag-checkbox-4"
                                        style="transform: scale(1.8);" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="submit mt-5">
            <div class="container">
                <div class="submit__header mb-4">
                    <h5>Выбранные методы:</h5>
                </div>
                <div class="submit__body" style="width: 95%;">
                    <div id="submit-checked" class="submit__checked mb-5">
                        <div class="checked__element d-flex justify-content-between align-items-center mb-4">
                            <div>
                                <div class="checked__title mb-3">Biometric check-up</div>
                                <div id="progress" class="progress" role="progressbar" aria-label="Danger striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 1000px; margin-top: 6px;">
                                    <div class="progress-bar progress-bar-striped bg-success" style="width: 0%"></div>
                                </div>
                            </div>  
                            <div class="submit__percent">0%</div>
                        </div>
                        
                    </div>
                    <!-- <div class="submit__empty p-3">
                        <div class="hstack gap-3 mb-3">
                            <span class="material-symbols-rounded fs-2">web_asset_off</span>
                            <div class="fs-5" style="color: #ffffff68">Пусто</div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, enim maxime voluptates ab fugiat voluptatibus consectetur distinctio? Dolorum at, expedita aut corrupti accusamus rem delectus autem. Corrupti recusandae similique consequatur.</p>
                    </div> -->
                    <div class="text-end">
                        <button class="btn btn-success" id="submit-btn" onclick="submitMethods()">Проверить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="result mt-5">
            <div class="container">
                <div class="result__body">

                </div>
            </div>
        </div>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="/public/js/faceMatchDetection.js"></script>
    <script src="/public/js/fakeFaceDetector.js"></script>
    <script src="/public/vendor/axios/axios.min.js"></script>
    <script src="/public/vendor/faceapi/face-api.js"></script>


    <script>
        var checkedItemsId = [];
        var uncheckedItemsId = [];

        var checkedItemsText = [];
        var uncheckedItemsText = [];

        // Bootstrap Popover
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));


        $(() => {
            placeImg();
            swagCollapse();

            checkImages();

            // Initial detailed status update
            updateDetailedStatus();

            // Event handler for checkbox change
            $('.form-check-input').change(function () {
                updateDetailedStatus();
            });

            // Add change event listener to file inputs to trigger the checkImages function
            $('#file-img-1, #file-img-2').on('change', checkImages);
        })  

        function submitMethods() {
            if ($("#checked-element-swag-bio").length) {
                faceMatchDetectionStart();
                // Biometric check-up method
            } else if ($("#checked-element-swag-face").length) {
                fakeFaceDetectorStart();
            } else if ($("checked-element-swag-doc").length) {
                // Fake document detection method
            } else if ($("#checked-element-swag-data").length) {
                // Data consistency method
            }
        }

    
        function checkImages() {
            if (getImgInput('img') && getImgInput('doc')) {
                $('#swag-checkbox-1').prop('disabled', false);
            } else {
                $('#swag-checkbox-1').prop('disabled', true);
                $('#swag-checkbox-1').prop('checked', false); 
            }

            if (getImgInput('doc')) {
                $('#swag-checkbox-2, #swag-checkbox-3, #swag-checkbox-4').prop('disabled', false);
            } else {
                $('#swag-checkbox-2, #swag-checkbox-3, #swag-checkbox-4').prop('disabled', true);
                $('#swag-checkbox-2, #swag-checkbox-3, #swag-checkbox-4').prop('checked', false);
            }
        }

        function swagCollapse() {
            $('.swag__element__inner .inner-right a').click(function () {
                if ($(this).hasClass('collapsed')) {
                    $(this).removeClass('collapsed');
                } else {
                    $(this).addClass('collapsed');
                }
            })
        }
        
        function displaySubmitChecked() {
            $('#submit-checked').html('');
            let submitHTML = '';
            if (checkedItemsId.length == 0) {
                submitHTML = `<div class="submit__empty p-3">
                        <div class="hstack gap-3 mb-3">
                            <span class="material-symbols-rounded fs-2">web_asset_off</span>
                            <div class="fs-5" style="color: #ffffff68">Пусто</div>
                        </div>
                        <p>Если вы не выбрали метод верификации, сайт не сможет выполнить проверку вашего удостоверения личности. Пожалуйста, выберите один из предложенных методов сверху для продолжения процесса верификации.</p>
                    </div>`
                $('#submit-btn').toggleClass('disabled', true);
            } else {
                for (let i = 0; i < checkedItemsId.length; i++) {
                    submitHTML += `<div class="checked__element d-flex justify-content-between align-items-center mb-4" id="checked-element-${checkedItemsId[i]}">
                            <div>
                                <div class="checked__title fw-semibold">${checkedItemsId[i] == 'swag-bio' ? 'Biometric check-up' : checkedItemsId[i] == 'swag-face' ? 'Fake face photo detection' : checkedItemsId[i] == 'swag-doc' ? 'Fake document detection' : 'Data consistency'}</div>
                                <div id="progress" class="progress" role="progressbar" aria-label="Danger striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 1000px; margin-top: 6px;">
                                    <div class="progress-bar progress-bar-striped" style="width: 50%"></div>
                                </div>
                            </div>  
                            <div class="submit__percent">0%</div>
                        </div>`
                }
                $('#submit-btn').toggleClass('disabled', false);
            }
            $('#submit-checked').append(submitHTML);
        }

        function updateDetailedStatus() {
            checkedItemsId = [];
            uncheckedItemsId = [];
            checkedItemsText = [];
            uncheckedItemsText = [];
            
            $('.swag__element').each(function (index) {
                var $swagElement = $(this);
                var $swagTitle = $(this).find('.swag__element__title');
                var $checkbox = $swagElement.find('.form-check-input');
                
                var itemStatus = $checkbox.prop('checked') ? 'checked' : 'unchecked';
                
                if (itemStatus === 'checked') {
                    checkedItemsText.push($swagTitle.text());
                    checkedItemsId.push($swagElement.prop('id'));
                } else {
                    uncheckedItemsText.push($swagTitle.text());
                    uncheckedItemsId.push($swagElement.prop('id'));
                }
            });
            displaySubmitChecked();
        }

        function addImage(fieldSelector) {
            const imgputElement = $(fieldSelector).closest('.imgput__element');
            const fileInput = imgputElement.find('input[type="file"]');
            const fileNameSpan = imgputElement.find('#file-name');

            fileInput.on('change', function() {
                $('.form-valid').remove();
                fileNameSpan.text(this.files[0].name)
                if (imgputElement.prop('id') == 'imgput-element-1') {
                    localStorage.setItem('faceName', this.files[0].name);
                } else {
                    localStorage.setItem('docName', this.files[0].name);
                }
            })
        }

        function deleteImage(fieldSelector) {
            const imgputElement = $(fieldSelector).closest('.imgput__element');
            const fileInput = imgputElement.find('input[type="file"]');
            const fileNameSpan = imgputElement.find('#file-name');

            if (imgputElement.prop('id') == 'imgput-element-1') {
                localStorage.removeItem('faceName');
            } else {
                localStorage.removeItem('docName');
            }

            fileNameSpan.text('Загрузите файл');
            fileInput.val('');

            checkImages();
        }

        function placeImg() {
            const imgputElement = $('.imgput__element');
            

            imgputElement.each(function(index, element) {
                const $element = $(element);

                const fileInput = $element.find('input[type="file"]');
                const fileNameSpan = $element.find('#file-name');

                const elementId = $element.attr('id');

                if (elementId === 'imgput-element-1') {
                    if (localStorage.getItem('faceName') !== null) {
                        fileNameSpan.text(localStorage.getItem('faceName'));
                    } else {
                        fileNameSpan.text('Загрузите файл');
                    }
                } else {
                    if (localStorage.getItem('docName') !== null) {
                        fileNameSpan.text(localStorage.getItem('docName'));
                    } else {
                        fileNameSpan.text('Загрузите файл');
                    }
                }
                
                fileInput.on('change', function() {
                    if (elementId === 'imgput-element-1') {
                        fileNameSpan.text(localStorage.getItem('faceName'));
                    } else {
                        fileNameSpan.text(localStorage.getItem('docName'));
                    }
                });
            });
        }

        function getImgInput(fieldSelector) {
            if (fieldSelector == 'img') {
                return $('#file-img-1')[0].files[0];
            } else if (fieldSelector == 'doc') {
                return $('#file-img-2')[0].files[0];
            }
        }

    
    </script>
</body>

</html>