/* Swag */  
.swag__element .swag__element__shortTitle {
    width: 100px;
}

.swag__element .swag__element__block {
    border: 3px solid;
}

.swag__element:nth-child(1) .swag__element__block {
    border-color: var(--swag-green);
}

.swag__element:nth-child(1) .swag__element__shortTitle {
    background-color: var(--swag-green);
}

.swag__element:nth-child(1) .progress-bar {
    background-color: var(--swag-green);
}

.swag__element:nth-child(2) .swag__element__block {
    border-color: var(--swag-orange);
}

.swag__element:nth-child(2) .swag__element__shortTitle {
    background-color: var(--swag-orange);
}

.swag__element:nth-child(2) .progress-bar {
    background-color: var(--swag-orange);
}

.swag__element:nth-child(3) .swag__element__block {
    border-color: var(--swag-violet);
}

.swag__element:nth-child(3) .swag__element__shortTitle {
    background-color: var(--swag-violet);
}

.swag__element:nth-child(3) .progress-bar {
    background-color: var(--swag-violet);
}

.swag__element:nth-child(4) .swag__element__block {
    border-color: var(--swag-pink);
}

.swag__element:nth-child(4) .swag__element__shortTitle {
    background-color: var(--swag-pink);
}

.swag__element:nth-child(4) .progress-bar {
    background-color: var(--swag-pink);
}

.swag__element__title {
    font-size: 1.15rem;
}

.swag__element__inner .inner-right a{
    font-size: 2.5rem;
    transition: ease .3s transform;
}

.collapsed{
    transform: rotate(-90deg);
}

#file-name {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.swag__checker {
    margin-top: 1.8rem;
}

.checked__element {
    padding: 1rem;
    border-radius: .5rem;
}

#checked-element-swag-bio {
    background-color: var(--swag-green)
}

#checked-element-swag-face {
    background-color: var(--swag-orange)
}

#checked-element-swag-doc {
    background-color: var(--swag-violet)
}

#checked-element-swag-data {
    background-color: var(--swag-pink)
}

.result__element {
    position: relative;
}

.result-true,
.result-false {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    z-index: 1000;
}

.result-true {
    border: 2px solid var(--bs-success);
    border-radius: 100%;
    padding: 1rem;
}

.result-false {
    border: 2px solid var(--bs-danger);
    border-radius: 100%;
    padding: 1rem;
}

.table > :not(caption) > * > * {
    background-color: transparent !important;
    color: #fff !important;
}