/* Swag */  
.swag__element .swag__element__shortTitle {
    width: 100px;
}

.swag__element .swag__element__block {
    border: 3px solid;
}

.swag__element:nth-child(1) .swag__element__block {
    border-color: var(--swag-green);
}

.swag__element:nth-child(1) .swag__element__shortTitle {
    background-color: var(--swag-green);
}

.swag__element:nth-child(1) .progress-bar {
    background-color: var(--swag-green);
}

.swag__element:nth-child(2) .swag__element__block {
    border-color: var(--swag-orange);
}

.swag__element:nth-child(2) .swag__element__shortTitle {
    background-color: var(--swag-orange);
}

.swag__element:nth-child(2) .progress-bar {
    background-color: var(--swag-orange);
}

.swag__element:nth-child(3) .swag__element__block {
    border-color: var(--swag-violet);
}

.swag__element:nth-child(3) .swag__element__shortTitle {
    background-color: var(--swag-violet);
}

.swag__element:nth-child(3) .progress-bar {
    background-color: var(--swag-violet);
}

.swag__element:nth-child(4) .swag__element__block {
    border-color: var(--swag-pink);
}

.swag__element:nth-child(4) .swag__element__shortTitle {
    background-color: var(--swag-pink);
}

.swag__element:nth-child(4) .progress-bar {
    background-color: var(--swag-pink);
}

.swag__element__title {
    font-size: 1.15rem;
}

.swag__element__inner .inner-right a{
    font-size: 2.5rem;
    transition: ease .3s transform;
}

.collapsed{
    transform: rotate(-90deg);
}

#file-name {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.swag__checker {
    margin-top: 1.8rem;
}

#checked-element-swag-bio .checked__title{
    color: var(--swag-green)
}

#checked-element-swag-bio .progress-bar {
    background-color: var(--swag-green);
}

#checked-element-swag-face .progress-bar {
    background-color: var(--swag-orange);
}

#checked-element-swag-face .checked__title{
    color: var(--swag-orange)
}

#checked-element-swag-doc .progress-bar {
    background-color: var(--swag-violet);
}

#checked-element-swag-doc .checked__title{
    color: var(--swag-violet)
}

#checked-element-swag-data .progress-bar {
    background-color: var(--swag-pink);
}

#checked-element-swag-data .checked__title{
    color: var(--swag-pink)
}

.result__element {
    position: relative;
}

.result-true,
.result-false {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
    z-index: 1000;
}